body {
    height: 100%;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-right: 10px;
    padding-left: 10px;
    height: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
}

p {
    color: hsl(0, 0%, 50%);
}

i {
    font-size: 25px;
}

.background-cover {
    /* background-image: linear-gradient( to top right, hsl(243, 86%, 85%), hsl(243, 87%, 12%) 75%); */
    background-color: hsl(243, 42%, 49%);
}

.background-cover>img {
    position: relative;
    top: 25%;
    width: 60%;
}

.text-center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    box-shadow: 3px 3px 13px 1px #ccc;
    width: 100%;
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.icons>i {
    color: hsl(243, 87%, 12%);
}

.logo {
    display: inline;
}

.logo :nth-child(2) {
    display: inline-block;
}

.primary-color {
    color: hsl(243, 86%, 85%);
}

.secondary-color {
    color: hsl(243, 87%, 12%);
}

.flex-container>div {
    width: 50%;
}

.boxed-layout {
    height: 100%;
    padding: 10%;
}

.margin-right-medium {
    margin-right: 45px;
}